{#
/**
 * @file
 * Theme override to navigate books.
 *
 * Presented under nodes that are a part of book outlines.
 *
 * Available variables:
 * - tree: The hierachical list of children of the current node rendered as an unordered
 *   list.
 * - current_depth: Depth of the current node within the book outline. Provided
 *   for context.
 * - prev_url: URL to the previous node.
 * - prev_title: Title of the previous node.
 * - parent_url: URL to the parent node.
 * - parent_title: Title of the parent node. Not printed by default. Provided
 *   as an option.
 * - next_url: URL to the next node.
 * - next_title: Title of the next node.
 * - has_links: Flags TRUE whenever the previous, parent or next data has a
 *   value.
 * - book_id: The book ID of the current outline being viewed. Same as the node
 *   ID containing the entire outline. Provided for context.
 * - book_url: The book/node URL of the current outline being viewed. Provided
 *   as an option. Not used by default.
 * - book_title: The book/node title of the current outline being viewed.
 * - parent_book_title: The parent book that the page belongs to.
 *
 * @see template_preprocess_book_navigation()
 */
#}
{{ attach_library('bootstrap_barrio/book-navigation') }}
{% if tree or has_links %}
  <div class="card info-summary">
    <div class="card-body">
      <nav id="book-navigation-{{ book_id }}" class="book-navigation" role="navigation" aria-labelledby="book-label-{{ book_id }}">
        {{ tree }}
        {% if has_links %}
          <h2 class="visually-hidden" id="book-label-{{ book_id }}">{{ 'Book traversal links for'|t }} {{ book_title }}</h2>
          <ul class="book-pager">
          {% if book_url %}
            <li class="book-pager__item breadcrumb-item">
              <a href="{{ book_url }}" rel="next" title="{{ 'Go to parent book'|t }}">{{ parent_book_title }}</a>
            </li>
          {% endif %}
          {% if parent_url %}
            <li class="book-pager__item breadcrumb-item">
              <a href="{{ parent_url }}" title="{{ 'Go to parent page'|t }}">{{ 'Up'|t }}</a>
            </li>
          {% endif %}
          
        </ul>
        {% endif %}
      </nav>
    </div>
  </div>
{% endif %}
