{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% set slide_count = paragraph.field_say_this|length %}
    {% block paragraph %}

      <div{{attributes.addClass(classes)}}>
        {% block content %}
          <div
            class="paragraph-grid-wrap">
            <div
              class="grid-wrap-left">{{paragraph.field_text.processed}}</div>
            <div
              class="grid-wrap-right">
              <div
                class="CSSgal">

                <!-- Slide targets -->
                {% for i in 1..slide_count %}
                <s
                  id="s{{ i }}"></s>
                {% endfor %}

                <div
                  class="slider">
                  {% for this in paragraph.field_say_this %}
                    <div
                      class="chat-wrap">
                      <div
                        class="chat-bubble say-this">
                        <p
                          class="large">
                          {% if paragraph.field_spanish_slideshow.value == "1" %}DIGA ESTO
                            {% else %}SAY THIS
                          {% endif %}
                        </p>

                        <p>{{this.value}}</p>
                      </div>
                      <div
                        class="chat-bubble not-that">
                        <p
                          class="large">
                          {% if paragraph.field_spanish_slideshow.value == "1" %}Y NO ESTO
                            {% else %}NOT THAT
                          {% endif %}
                        </p>

                        <p>{{paragraph.field_not_that[loop.index - 1].value}}</p>
                      </div>
                    </div>
                  {% endfor %}

                </div>

                <div
                  class="prevNext">
                  {% for i in 1..slide_count %}
                  <div>
                    <a
                      href="#s{{ i == 1 ? slide_count : i - 1 }}">«</a>

                    <a
                      href="#s{{ i == slide_count ? 1 : i + 1 }}">»</a>

                  </div>
                  {% endfor %}
                </div>

                <div
                  class="bullets">
                  {% for i in 1..slide_count %}
                  <a
                    href="#s{{ i }}">{{ i }}</a>
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>


        {% endblock %}
      </div>
    {% endblock paragraph %}
